## Pandas â€“ DataFrame and Series

Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning.  
It provides two primary data structures: **Series** and **DataFrame**.

### Series
A **Series** is a one-dimensional, array-like object that can hold data of any type and has labeled indices.

### DataFrame
A **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).  
It is similar to a table in a database or an Excel spreadsheet.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
#creating series from array 
data=[1,2,3,4,5]
s1=pd.Series(data)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# creating series from dictionary
data={'a':1,'b':2,'c':3}
s2=pd.Series(data)
print(s2)

a    1
b    2
c    3
dtype: int64

In [5]:
data=[1,2,3,4,5]
idx=['a','b','c','d','e']
s3=pd.Series(data,index=idx)
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
# creating dataframes with dictionary
data={
    'name':['vijay','dinkar','yash'],
    'age':[20,21,22],
    'place':['bihar','bangalore','uttarpradesh']
}
df=pd.DataFrame(data)
print(df)

     name  age         place
0   vijay   20         bihar
1  dinkar   21     bangalore
2    yash   22  uttarpradesh

In [7]:
import numpy as np 
np.array(df)

array([['vijay', 20, 'bihar'],
       ['dinkar', 21, 'bangalore'],
       ['yash', 22, 'uttarpradesh']], dtype=object)

In [8]:
df['salary']=[50000,60000,70000]

In [9]:
df

     name  age         place  salary
0   vijay   20         bihar   50000
1  dinkar   21     bangalore   60000
2    yash   22  uttarpradesh   70000

In [13]:
df.drop('place',axis=1,inplace=True)

In [14]:
df

     name  age  salary
0   vijay   20   50000
1  dinkar   21   60000
2    yash   22   70000

In [16]:
df.loc[0][0]

/var/folders/4v/jwyz348j77d99rpv6cwvqrm40000gn/T/ipykernel_6049/2527876973.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][0]

'vijay'

In [18]:
df.iloc[0][0]

/var/folders/4v/jwyz348j77d99rpv6cwvqrm40000gn/T/ipykernel_6049/2900375399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'vijay'

In [22]:
df.describe()

        age   salary
count   3.0      3.0
mean   21.0  60000.0
std     1.0  10000.0
min    20.0  50000.0
25%    20.5  55000.0
50%    21.0  60000.0
75%    21.5  65000.0
max    22.0  70000.0

In [23]:
df1=pd.read_csv('data.csv')

In [24]:
df1

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [26]:
df1.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [30]:
df1['Duration']=df1['Duration'].astype(float)

In [31]:
df1

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    110       130     409.1
1       60.0  '2020/12/02'    117       145     479.0
2       60.0  '2020/12/03'    103       135     340.0
3       45.0  '2020/12/04'    109       175     282.4
4       45.0  '2020/12/05'    117       148     406.0
5       60.0  '2020/12/06'    102       127     300.0
6       60.0  '2020/12/07'    110       136     374.0
7      450.0  '2020/12/08'    104       134     253.3
8       30.0  '2020/12/09'    109       133     195.1
9       60.0  '2020/12/10'     98       124     269.0
10      60.0  '2020/12/11'    103       147     329.3
11      60.0  '2020/12/12'    100       120     250.7
12      60.0  '2020/12/12'    100       120     250.7
13      60.0  '2020/12/13'    106       128     345.3
14      60.0  '2020/12/14'    104       132     379.3
15      60.0  '2020/12/15'     98       123     275.0
16      60.0  '2020/12/16'     98       120     215.2
17      60.0  '2020/12/17'    100       120     300.0
18      45.0  '2020/12/18'     90       112       NaN
19      60.0  '2020/12/19'    103       123     323.0
20      45.0  '2020/12/20'     97       125     243.0
21      60.0  '2020/12/21'    108       131     364.2
22      45.0           NaN    100       119     282.0
23      60.0  '2020/12/23'    130       101     300.0
24      45.0  '2020/12/24'    105       132     246.0
25      60.0  '2020/12/25'    102       126     334.5
26      60.0      20201226    100       120     250.0
27      60.0  '2020/12/27'     92       118     241.0
28      60.0  '2020/12/28'    103       132       NaN
29      60.0  '2020/12/29'    100       132     280.0
30      60.0  '2020/12/30'    102       129     380.3
31      60.0  '2020/12/31'     92       115     243.0

In [32]:
df1['Maxpulse']=df1['Maxpulse']+50

In [33]:
df1

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    110       180     409.1
1       60.0  '2020/12/02'    117       195     479.0
2       60.0  '2020/12/03'    103       185     340.0
3       45.0  '2020/12/04'    109       225     282.4
4       45.0  '2020/12/05'    117       198     406.0
5       60.0  '2020/12/06'    102       177     300.0
6       60.0  '2020/12/07'    110       186     374.0
7      450.0  '2020/12/08'    104       184     253.3
8       30.0  '2020/12/09'    109       183     195.1
9       60.0  '2020/12/10'     98       174     269.0
10      60.0  '2020/12/11'    103       197     329.3
11      60.0  '2020/12/12'    100       170     250.7
12      60.0  '2020/12/12'    100       170     250.7
13      60.0  '2020/12/13'    106       178     345.3
14      60.0  '2020/12/14'    104       182     379.3
15      60.0  '2020/12/15'     98       173     275.0
16      60.0  '2020/12/16'     98       170     215.2
17      60.0  '2020/12/17'    100       170     300.0
18      45.0  '2020/12/18'     90       162       NaN
19      60.0  '2020/12/19'    103       173     323.0
20      45.0  '2020/12/20'     97       175     243.0
21      60.0  '2020/12/21'    108       181     364.2
22      45.0           NaN    100       169     282.0
23      60.0  '2020/12/23'    130       151     300.0
24      45.0  '2020/12/24'    105       182     246.0
25      60.0  '2020/12/25'    102       176     334.5
26      60.0      20201226    100       170     250.0
27      60.0  '2020/12/27'     92       168     241.0
28      60.0  '2020/12/28'    103       182       NaN
29      60.0  '2020/12/29'    100       182     280.0
30      60.0  '2020/12/30'    102       179     380.3
31      60.0  '2020/12/31'     92       165     243.0

In [35]:
df1.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [36]:
df1.fillna(0)

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    110       180     409.1
1       60.0  '2020/12/02'    117       195     479.0
2       60.0  '2020/12/03'    103       185     340.0
3       45.0  '2020/12/04'    109       225     282.4
4       45.0  '2020/12/05'    117       198     406.0
5       60.0  '2020/12/06'    102       177     300.0
6       60.0  '2020/12/07'    110       186     374.0
7      450.0  '2020/12/08'    104       184     253.3
8       30.0  '2020/12/09'    109       183     195.1
9       60.0  '2020/12/10'     98       174     269.0
10      60.0  '2020/12/11'    103       197     329.3
11      60.0  '2020/12/12'    100       170     250.7
12      60.0  '2020/12/12'    100       170     250.7
13      60.0  '2020/12/13'    106       178     345.3
14      60.0  '2020/12/14'    104       182     379.3
15      60.0  '2020/12/15'     98       173     275.0
16      60.0  '2020/12/16'     98       170     215.2
17      60.0  '2020/12/17'    100       170     300.0
18      45.0  '2020/12/18'     90       162       0.0
19      60.0  '2020/12/19'    103       173     323.0
20      45.0  '2020/12/20'     97       175     243.0
21      60.0  '2020/12/21'    108       181     364.2
22      45.0             0    100       169     282.0
23      60.0  '2020/12/23'    130       151     300.0
24      45.0  '2020/12/24'    105       182     246.0
25      60.0  '2020/12/25'    102       176     334.5
26      60.0      20201226    100       170     250.0
27      60.0  '2020/12/27'     92       168     241.0
28      60.0  '2020/12/28'    103       182       0.0
29      60.0  '2020/12/29'    100       182     280.0
30      60.0  '2020/12/30'    102       179     380.3
31      60.0  '2020/12/31'     92       165     243.0

In [37]:
df1['Calories']=df1['Calories'].fillna(df1['Calories'].mean())

In [38]:
df1

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    110       180    409.10
1       60.0  '2020/12/02'    117       195    479.00
2       60.0  '2020/12/03'    103       185    340.00
3       45.0  '2020/12/04'    109       225    282.40
4       45.0  '2020/12/05'    117       198    406.00
5       60.0  '2020/12/06'    102       177    300.00
6       60.0  '2020/12/07'    110       186    374.00
7      450.0  '2020/12/08'    104       184    253.30
8       30.0  '2020/12/09'    109       183    195.10
9       60.0  '2020/12/10'     98       174    269.00
10      60.0  '2020/12/11'    103       197    329.30
11      60.0  '2020/12/12'    100       170    250.70
12      60.0  '2020/12/12'    100       170    250.70
13      60.0  '2020/12/13'    106       178    345.30
14      60.0  '2020/12/14'    104       182    379.30
15      60.0  '2020/12/15'     98       173    275.00
16      60.0  '2020/12/16'     98       170    215.20
17      60.0  '2020/12/17'    100       170    300.00
18      45.0  '2020/12/18'     90       162    304.68
19      60.0  '2020/12/19'    103       173    323.00
20      45.0  '2020/12/20'     97       175    243.00
21      60.0  '2020/12/21'    108       181    364.20
22      45.0           NaN    100       169    282.00
23      60.0  '2020/12/23'    130       151    300.00
24      45.0  '2020/12/24'    105       182    246.00
25      60.0  '2020/12/25'    102       176    334.50
26      60.0      20201226    100       170    250.00
27      60.0  '2020/12/27'     92       168    241.00
28      60.0  '2020/12/28'    103       182    304.68
29      60.0  '2020/12/29'    100       182    280.00
30      60.0  '2020/12/30'    102       179    380.30
31      60.0  '2020/12/31'     92       165    243.00

In [39]:
df1['Maxpulse']

0     180
1     195
2     185
3     225
4     198
5     177
6     186
7     184
8     183
9     174
10    197
11    170
12    170
13    178
14    182
15    173
16    170
17    170
18    162
19    173
20    175
21    181
22    169
23    151
24    182
25    176
26    170
27    168
28    182
29    182
30    179
31    165
Name: Maxpulse, dtype: int64

In [41]:
df1.head(10)

   Duration          Date  Pulse  Maxpulse  Calories
0      60.0  '2020/12/01'    110       180     409.1
1      60.0  '2020/12/02'    117       195     479.0
2      60.0  '2020/12/03'    103       185     340.0
3      45.0  '2020/12/04'    109       225     282.4
4      45.0  '2020/12/05'    117       198     406.0
5      60.0  '2020/12/06'    102       177     300.0
6      60.0  '2020/12/07'    110       186     374.0
7     450.0  '2020/12/08'    104       184     253.3
8      30.0  '2020/12/09'    109       183     195.1
9      60.0  '2020/12/10'     98       174     269.0

In [42]:
df1.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27      60.0  '2020/12/27'     92       168    241.00
28      60.0  '2020/12/28'    103       182    304.68
29      60.0  '2020/12/29'    100       182    280.00
30      60.0  '2020/12/30'    102       179    380.30
31      60.0  '2020/12/31'     92       165    243.00

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     float64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ KB